[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
selenium = "*"
pandas = "*"
scrapy-user-agents = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
